.h-con {
  background-color: #152850;
  min-height: 100vh;
}
.hm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: bold;
}
