.nav-el {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.rr {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
